---
import { cn } from "../../lib/utils";
import ActionMenu from "../../components/action-menu.astro";
import Layout from '../../layouts/Layout.astro';
import Dropzone from '../../components/dropzone.astro';
---
<Layout>
<main class="flex">
    <ActionMenu />
      <canvas
        class="h-screen svg-bg"
        style={{
		width: '49.95%',
        }}
        id="source"
      />
      <div class="h-screen w-[0.1%] bg-zinc-400" id="separator" />
      <canvas
        style={{
		width: '49.95%',
        }}
         class={cn('h-screen svg-bg')}
        id="destination"
      />
    <Dropzone />
</main>
</Layout>
