---
import '../styles/global.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
<script>
import { createIcons, icons } from 'lucide';
import '@spectrum-web-components/dropzone/sp-dropzone.js';
import '@spectrum-web-components/tooltip/sp-tooltip.js'

// TODO: specify only icons you need
createIcons({ icons });
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
