@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  --image-comparison-slider-width: min(80vw, 768px);
  --image-comparison-slider-handle-width: 50px;

    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
  }

  [data-kb-theme="dark"] {
  --image-comparison-slider-width: min(80vw, 768px);
  --image-comparison-slider-handle-width: 50px;

    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
.svg-bg {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZmlsbD0iI2RlZGVkZSIgZD0iTTAgMGg4djhIMHpNOCA4aDh2OEg4eiIvPjwvc3ZnPg==);
    background-repeat: repeat;
}

body {
   user-select: none;    
   -moz-user-select: none;    
}
.zoomables {
    pointer-events: none;
    border: 1px solid black;
}
#zoomMe {
    position: absolute;
    top: 0px;
    left: 0px;
}

.download-icon:hover path {
  fill: white;
}

.delete-icon:hover path {
  fill: white;
}

.loading-bar {
  position: relative;
  height: 20px;
  width: 100%;
  border: 1;
  background: #e4e4e7;
  border-radius: 50px;
}
.loading-bar span {
  display: block;
  position: relative;
  height: 100%;
  border-radius: 50px;
  background-image: linear-gradient(to bottom, #fff, #71717a 30%);
  overflow: hidden;
}
.loading-bar span:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  z-index: 1;
  background-size: 50px 50px;
  overflow: hidden;
}
.loading-bar > span:after, .animate>span>span {
  animation: load .88s infinite;
}
@keyframes load {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

#loading-screen-grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  justify-content: center;
  .loading-screen-grid-item {
    min-width: 100%;
    min-height: 100%;
    background-color: white;
    cursor: pointer;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      outline: 1px solid black;
      display: block;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

.image-slider {
    position: relative;
    overflow: hidden;
    display: inline-block;
    line-height: 0;
}

.image-slider img {
    user-select: none;
}

.image-slider > div {
    position: absolute;
    width: 50px;
    max-width: 100%;
    overflow: hidden;
}

.handle {
  position: absolute;
  top: 0;
  left: calc(50% - var(--image-comparison-slider-handle-width)/2);
  width: var(--image-comparison-slider-handle-width);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: 2;
  /* transition: 0.25s cubic-bezier(.03,.98,.52,.99); */
}
.handle-line {
  width: 2px;
  flex-grow: 1;
  background-color: #fff;
}
.handle-circle {
  width: var(--image-comparison-slider-handle-width);
  height: var(--image-comparison-slider-handle-width);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: rgba(0,0,0,0.5); */
}

@media (max-width: 768px) {
  :root {
    --image-comparison-slider-width: 90vw;
  }
}
