---
import type { HTMLAttributes } from 'astro/types';

type Props = {
	tooltip: string;
} & HTMLAttributes<'button'>;

const { tooltip, ...buttonProps } = Astro.props;
---

<button {...buttonProps} class="size-[20px] flex items-center text-zinc-950 opacity-70 hover:opacity-100 duration-200">
	<slot />
</button>
